page-walkthrough {
    .swiper-pagination-bullet-active{
        background-color: white;

    }
    .skip{
        top: 0;
        right: 0;
    }

    ion-slides ion-slide{
        background-color: #134781;
    }
}
