
<ion-scroll scrollX="true">

  <ion-card class="scroll-item" (click)="hotelDetail()">
    <img src="assets/images/adv.jpg" />
    <ion-card-content>
      <ion-card-title>
        Renaissance Atlanta Midtown Hotel
      </ion-card-title>
      <p>
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col col-5>
        <button ion-button clear color="twitter"> Read more</button>
      </ion-col>

      <ion-col col-3>
        <button ion-button clear color="twitter">
                <ion-icon name='ios-bookmark-outline'></ion-icon>
              </button>
        <button ion-button clear color="twitter">
                <ion-icon name='ios-heart-outline'></ion-icon>
              </button>
        <button ion-button clear color="twitter">
                <ion-icon name='ios-share-outline'></ion-icon>
              </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="scroll-item">
    <img src="assets/images/img3.jpg" />
    <ion-card-content>
      <ion-card-title>
          Twelve Centennial Park
      </ion-card-title>
      <p>
          All-Suites hotel, within walking distance of incredible dining, Piedmont Park and midtown businesses
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col col-5>
        <button ion-button clear color="twitter"> Read more</button>
      </ion-col>

      <ion-col col-3>
        <button ion-button clear color="twitter">
              <ion-icon name='ios-bookmark-outline'></ion-icon>
            </button>
        <button ion-button clear color="twitter">
              <ion-icon name='ios-heart-outline'></ion-icon>
            </button>
        <button ion-button clear color="twitter">
              <ion-icon name='ios-share-outline'></ion-icon>
            </button>
      </ion-col>
    </ion-row>
    
  </ion-card>


  <ion-card class="scroll-item">
      <img src="assets/images/img5.jpg" />
      <ion-card-content>
        <ion-card-title>
            Atlanta Marriott Marquis
        </ion-card-title>
        <p>
            Downtown Atlanta atrium hotel boasting modern accommodations and proximity to local attractions.
        </p>
      </ion-card-content>
      <ion-row>
        <ion-col col-5>
          <button ion-button clear color="twitter"> Read more</button>
        </ion-col>
  
        <ion-col col-3 class="btn-options">
          <button ion-button clear color="twitter">
                <ion-icon name='ios-bookmark-outline'></ion-icon>
              </button>
          <button ion-button clear color="twitter">
                <ion-icon name='ios-heart-outline'></ion-icon>
              </button>
          <button ion-button clear color="twitter">
                <ion-icon name='ios-share-outline'></ion-icon>
              </button>
        </ion-col>
      </ion-row>
    </ion-card>


</ion-scroll>