advertisement {
    ion-scroll[scrollX] {
        white-space: nowrap;
        
        height: 100%;
        
        img{
            width: 100%;
        }

        .img-container{
            width: 100%;
            padding-bottom: 56.25%;
            overflow: hidden;
            background-size: cover !important;
            background-position: center !important;
        }

        .scroll-item {
          display: inline-block;
          width: 90%;  
          margin-left: -5px;
          margin-right: 15px;

            ion-card-title{
                font-size: 15px;
                width: 100%;
                white-space: nowrap;
                text-overflow: hidden;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: -3px;
                    width: 40%;
                    height: 100%;
                    background-image:linear-gradient(to right, rgba(255,255,255,0) 0%, white 80%, white 100%);
                  }
            }

            ion-card-content p{   
                font-size: 13px;     
                width: 100%;
                color: #858585;
                white-space: normal;
                
            }

        

        
        }
    }   
}
 